# Web Scraping

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url = 'https://www.arabam.com/'
response = requests.get(url, headers = {'User-agent': 'your bot 0.1'})

In [3]:
#response.text

In [4]:
soup = BeautifulSoup(response.text, 'html.parser')

In [5]:
soup.beautify

In [6]:
container = soup.findAll('div', {'class':'showcase row'})

In [7]:
fiyat = soup.findAll('div', {'class':'price'})
sehir = soup.findAll('div', {'class':'model-city'})
yil = soup.findAll('div', {'class':'model-year'})
model = soup.findAll('div', {'class':'model-name'})

In [8]:
f=[]
s=[]
y=[]
m=[]
columns = ['model', 'sehir', 'yil', 'fiyat']
for (m1, s1, y1, f1) in zip(model, sehir, yil, fiyat):
    m.append(m1.text)
    s.append(s1.text)
    y.append(y1.text)
    f.append(f1.text)

In [9]:
d = {'Model':m, 'Sehir':s, 'Yil':y, 'Fiyat':f}
pd.DataFrame(d)

Empty DataFrame
Columns: [Model, Sehir, Yil, Fiyat]
Index: []

In [10]:
df = pd.read_clipboard(header=None)
df

          0
0  requests

In [11]:
df.to_csv('send your name to mars.csv')