In [2]:
import pandas as pd
import numpy as np

In [3]:
ratings = pd.read_csv('ml-100k/u.data')
ratings.head()

   196\t242\t3\t881250949
0  186\t302\t3\t891717742
1   22\t377\t1\t878887116
2   244\t51\t2\t880606923
3  166\t346\t1\t886397596
4  298\t474\t4\t884182806

In [4]:
ratings = pd.read_csv('ml-100k/u.data', sep='\t')

In [5]:
ratings.head()

   196  242  3  881250949
0  186  302  3  891717742
1   22  377  1  878887116
2  244   51  2  880606923
3  166  346  1  886397596
4  298  474  4  884182806

In [7]:
r_cols = ['user_id', 'movie_id', 'rating']
ratings = pd.read_csv('ml-100k/u.data', sep='\t', names=r_cols, usecols=range(3))
print(ratings.head())
m_cols = ['movie_id', 'title']
movies = pd.read_csv('ml-100k/u.item', sep='|', encoding='iso-8859-1', names=m_cols, usecols=range(2))
print(movies.head())

   user_id  movie_id  rating
0      196       242       3
1      186       302       3
2       22       377       1
3      244        51       2
4      166       346       1
   movie_id              title
0         1   Toy Story (1995)
1         2   GoldenEye (1995)
2         3  Four Rooms (1995)
3         4  Get Shorty (1995)
4         5     Copycat (1995)

In [9]:
ratings = pd.merge(movies, ratings)
#print(ratings)