# [autocorrect](https://github.com/filyp/autocorrect)

In [1]:
#pip install autocorrect

In [2]:
from autocorrect import spell

In [3]:
spell('Tghe')

autocorrect.spell is deprecated,             use autocorrect.Speller instead

'The'

In [4]:
spell('arabaa')

autocorrect.spell is deprecated,             use autocorrect.Speller instead

'arabia'

# [Textblob](https://textblob.readthedocs.io/en/dev/index.html)
- It is a python library for textual data processing. It provides an interface for common natural language processing task.

In [5]:
#pip install textblob

In [6]:
from textblob import TextBlob
b = TextBlob('I havv gooooooooooooood spellliing')
#print(b.detect_language())
print(b.correct())

#print(b.translate(to='es'))

I have gooooooooooooood spelling

In [7]:
from textblob import Word
w = Word('falability')
w.spellcheck()

[('fallibility', 0.3333333333333333),
 ('capability', 0.3333333333333333),
 ('affability', 0.3333333333333333)]

In [8]:
#pip install langdetect

In [9]:
from langdetect import detect
print(detect("War doesn't show who's right, just who's left."))
print(detect("Ein, zwei, drei, vier"))
print(detect("Eu gosto de mulher"))
print(detect("Nasılsınız?"))

en
de
pt
tr

In [10]:
en_blob = TextBlob(u'I am a free black man loved by Jesus Christ.')
en_blob.translate(from_lang='en', to='tr')

TextBlob("Ben İsa Mesih tarafından sevilen özgür bir siyah adamım.")

In [11]:
tr_blob = TextBlob(u'Benim çok işim var')
tr_blob.translate(from_lang='tr', to='de')

TextBlob("Ich habe viel Arbeit")

# TF-IDF term Frequency - Inverse Document Frequency

In [12]:
#pip install pandas

In [13]:
import numpy as np
import scipy as sp
import pandas as pd

In [14]:

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
simple_train = ['call you tonight', 'Call me a cab', 'please call me... please']

vect = CountVectorizer()
tf = pd.DataFrame(vect.fit_transform(simple_train).toarray(), columns=vect.get_feature_names())
# Take the text or the document and learn the vocabulary
tf

C:\Users\nepes\miniconda3\envs\yapay-zeka\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

   cab  call  me  please  tonight  you
0    0     1   0       0        1    1
1    1     1   1       0        0    0
2    0     1   1       2        0    0

In [15]:
vect = CountVectorizer(binary=True)
df = vect.fit_transform(simple_train).toarray().sum(axis=0) #why
pd.DataFrame(df.reshape(1,6), columns=vect.get_feature_names())
# this is about the document frequency

C:\Users\nepes\miniconda3\envs\yapay-zeka\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

   cab  call  me  please  tonight  you
0    1     3   2       1        1    1

In [16]:
tf/df # Hangi cümledeki kelimenin yüzde kaçının o cümlede yüzde kaçının diğer

   cab      call   me  please  tonight  you
0  0.0  0.333333  0.0     0.0      1.0  1.0
1  1.0  0.333333  0.5     0.0      0.0  0.0
2  0.0  0.333333  0.5     2.0      0.0  0.0

In [17]:
vect = TfidfVectorizer()
pd.DataFrame(vect.fit_transform(simple_train).toarray(), columns=vect.get_feature_names())

C:\Users\nepes\miniconda3\envs\yapay-zeka\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

        cab      call        me    please   tonight       you
0  0.000000  0.385372  0.000000  0.000000  0.652491  0.652491
1  0.720333  0.425441  0.547832  0.000000  0.000000  0.000000
2  0.000000  0.266075  0.342620  0.901008  0.000000  0.000000

In [18]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(min_df=1) #min represents a threshold.

print(vectorizer)

corpus = ['This is the first document', 'This is the second document', 'and the third one', 'Is this the first document?']

X = vectorizer.fit_transform(corpus)
tf = pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names())
tf

C:\Users\nepes\miniconda3\envs\yapay-zeka\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

CountVectorizer()

   and  document  first  is  one  second  the  third  this
0    0         1      1   1    0       0    1      0     1
1    0         1      0   1    0       1    1      0     1
2    1         0      0   0    1       0    1      1     0
3    0         1      1   1    0       0    1      0     1

In [19]:
print(X)

  (0, 8)	1
  (0, 3)	1
  (0, 6)	1
  (0, 2)	1
  (0, 1)	1
  (1, 8)	1
  (1, 3)	1
  (1, 6)	1
  (1, 1)	1
  (1, 5)	1
  (2, 6)	1
  (2, 0)	1
  (2, 7)	1
  (2, 4)	1
  (3, 8)	1
  (3, 3)	1
  (3, 6)	1
  (3, 2)	1
  (3, 1)	1

In [20]:
import pandas as pd
import numpy as np
import scipy as sp
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from textblob import TextBlob, Word
from nltk.stem.snowball import SnowballStemmer
%matplotlib inline

In [21]:
yelp = pd.read_csv('yelp.csv')
yelp.head()

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0

In [22]:
yelp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   business_id  10000 non-null  object
 1   date         10000 non-null  object
 2   review_id    10000 non-null  object
 3   stars        10000 non-null  int64
 4   text         10000 non-null  object
 5   type         10000 non-null  object
 6   user_id      10000 non-null  object
 7   cool         10000 non-null  int64
 8   useful       10000 non-null  int64
 9   funny        10000 non-null  int64
dtypes: int64(4), object(6)
memory usage: 781.4+ KB

- First lowercasing, deleting punctuations, numbers, satır sonlarını \n \r
- stop words kaldır
- lemma

In [23]:
yelp['text'] = yelp['text'].str.lower()

In [24]:
yelp['text'] = yelp['text'].str.replace('[^\w\s]', '')

C:\Users\nepes\AppData\Local\Temp\ipykernel_6792\2426746439.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  yelp['text'] = yelp['text'].str.replace('[^\w\s]', '')

In [25]:
yelp['text'] = yelp['text'].str.replace('\d+', '').replace('\r', '')

C:\Users\nepes\AppData\Local\Temp\ipykernel_6792\1768632182.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  yelp['text'] = yelp['text'].str.replace('\d+', '').replace('\r', '')

In [26]:
#Create a new DataFrame that only contains the 5-star and 1-star reviews
yelp_best_worst = yelp[(yelp.stars==5) | (yelp.stars==1)]

yelp_best_worst.reset_index(drop=True, inplace=True) #reset the indices

x = yelp_best_worst.text  #reviews
y = yelp_best_worst.stars #raitings
#print(x) #to look at x


print(x.shape)

x_train, x_test, y_train, y_test = train_test_split(x,y,random_state=11)

(4086,)

In [27]:
x

0       my wife took me here on my birthday for breakf...
1       i have no idea why some people give bad review...
2       rosie dakota and i love chaparral dog park its...
3       general manager scott petello is a good egg no...
4       drop what youre doing and drive here after i a...
                              ...
4081    yes i do rock the hipster joints  i dig this p...
4082    only  stars \n\na few notes the folks that rat...
4083    im not normally one to jump at reviewing a cha...
4084    lets seewhat is there not to like about surpri...
4085     locations all  star average i think arizona r...
Name: text, Length: 4086, dtype: object

# Tokenization

In [28]:
# use CountVectorizer to create document - term matrices from x_train and

In [29]:
x_train_dtm = vect.fit_transform(x_train) #learn the vocabulary dictionary
print(x_train_dtm)
#print(x_train_dtm.shape)
x_test_dtm = vect.transform(x_test)
#print(x_test_dtm)
#

  (0, 12590)	0.07483405747642684
  (0, 2700)	0.05078877736680007
  (0, 6827)	0.039776877486206605
  (0, 18142)	0.06771906517791913
  (0, 12709)	0.05071087822851628
  (0, 7489)	0.05624454742143107
  (0, 11289)	0.060095373658947675
  (0, 6496)	0.07700077694201425
  (0, 747)	0.04743404042384581
  (0, 7211)	0.07587222480495558
  (0, 17730)	0.04496914305532136
  (0, 5254)	0.05648474257357189
  (0, 8669)	0.029453570306464706
  (0, 5460)	0.10284292998102725
  (0, 784)	0.08895928935707077
  (0, 8656)	0.09621743605930551
  (0, 13973)	0.0938526949223367
  (0, 1595)	0.0637733926856775
  (0, 11245)	0.08858759495934725
  (0, 10491)	0.11578350937514897
  (0, 4167)	0.10284292998102725
  (0, 4541)	0.05436472883917374
  (0, 1323)	0.026607712161360597
  (0, 17926)	0.05318480963483412
  (0, 6728)	0.06068606848863576
  :	:
  (3063, 4541)	0.05570194521880519
  (3063, 1323)	0.05452437110812491
  (3063, 17878)	0.04582007620958273
  (3063, 6609)	0.09331783678101906
  (3063, 7298)	0.023467069825044182
  (3063, 16179)	0.031803299499800146
  (3063, 18124)	0.024126647518446415
  (3063, 746)	0.025487660645105617
  (3063, 381)	0.05757123115817841
  (3063, 10869)	0.04274685131261793
  (3063, 8388)	0.018995624172292794
  (3063, 16412)	0.13414750322782526
  (3063, 17082)	0.03291365203410338
  (3063, 11162)	0.06533823279139764
  (3063, 6165)	0.03917633841358098
  (3063, 17817)	0.0667938976038971
  (3063, 16160)	0.06937926172548067
  (3063, 5617)	0.06032187505821065
  (3063, 8415)	0.020676272316491724
  (3063, 10978)	0.07511040458020869
  (3063, 536)	0.1042356020538036
  (3063, 16168)	0.17676438467649844
  (3063, 16253)	0.020661162370064625
  (3063, 916)	0.05263280945275569
  (3063, 10488)	0.02173808590012136

# Day 2-19.10.2022

### yelp review analyze

# tokenization

In [30]:
#
vect = CountVectorizer(stop_words='english')


x_train_dtm = vect.fit_transform(x_train)


print(x_train_dtm)

x_test_dtm = vect.transform(x_test)

  (0, 1634)	4
  (0, 17566)	1
  (0, 10333)	1
  (0, 1014)	1
  (0, 12093)	1
  (0, 9161)	1
  (0, 11816)	3
  (0, 6516)	2
  (0, 17666)	2
  (0, 13931)	2
  (0, 13437)	1
  (0, 9297)	1
  (0, 10134)	1
  (0, 4307)	1
  (0, 5530)	1
  (0, 15230)	1
  (0, 10984)	2
  (0, 1549)	1
  (0, 2562)	1
  (0, 4029)	1
  (0, 12276)	1
  (0, 3409)	1
  (0, 10171)	1
  (0, 12659)	1
  (0, 14971)	1
  :	:
  (3063, 17687)	1
  (3063, 17262)	2
  (3063, 3542)	2
  (3063, 13812)	1
  (3063, 3515)	1
  (3063, 5902)	1
  (3063, 10182)	3
  (3063, 16540)	1
  (3063, 1201)	2
  (3063, 13004)	2
  (3063, 16321)	2
  (3063, 8931)	1
  (3063, 13340)	3
  (3063, 10219)	1
  (3063, 2040)	1
  (3063, 2805)	1
  (3063, 2933)	1
  (3063, 4466)	1
  (3063, 4075)	1
  (3063, 8014)	2
  (3063, 974)	1
  (3063, 4759)	1
  (3063, 4233)	1
  (3063, 3568)	2
  (3063, 15476)	1

In [31]:
print(x_test)

2885    never thought id review a supermarket but sinc...
2674    the best pad thai ive ever tasted  crab wonton...
576     okay so i have a little bit of bias towards no...
3229    we went on a friday night and even though it i...
1223    treachery seek it out\n\nlet me begin this rev...
                              ...
286     came here instead of starbucks to get some muc...
3764    i eat there about  times a week the antipasto ...
2898    place is alright but for the waitress poor ser...
635     this place is a gem the food is amazing its ch...
962     being my first review there is only one place ...
Name: text, Length: 1022, dtype: object

In [32]:
tf = pd.DataFrame(x_train_dtm.toarray(), columns=vect.get_feature_names())
tf.head()

C:\Users\nepes\miniconda3\envs\yapay-zeka\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,______,_______________,aa,aaaamazing,aaammmazzing,aaron,ab,aback,abandoned,abandoning,...,zoyo,zucca,zucchini,zumba,zupas,zuzu,zuzus,zwiebelkräuter,éclairs,ém
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
#don't lowercase
vect = CountVectorizer(lowercase=False)
x_train_dtm = vect.fit_transform(x_train)
x_train_dtm.shape

(3064, 18230)

In [34]:
print(vect.get_feature_names()[-50:])

['yusefs', 'yuuuummmmae', 'yuuuuummmmmyyy', 'yuuuuuuum', 'yuyuyummy', 'yyyeeaahhhhsooooothe', 'zach', 'zam', 'zanella', 'zankou', 'zappos', 'zatsiki', 'zen', 'zenlike', 'zero', 'zest', 'zesty', 'zexperience', 'zgrill', 'zha', 'zhou', 'zilch', 'zillion', 'zin', 'zinburger', 'zinc', 'zing', 'zip', 'ziploc', 'zipper', 'zippers', 'zipps', 'ziti', 'zombi', 'zombies', 'zone', 'zoners', 'zones', 'zoning', 'zoo', 'zoyo', 'zucca', 'zucchini', 'zumba', 'zupas', 'zuzu', 'zuzus', 'zwiebelkräuter', 'éclairs', 'ém']

C:\Users\nepes\miniconda3\envs\yapay-zeka\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [35]:
#Include 1-grams and 2-grams (an n-gram is N-grams is just all combination)
#or
vect = CountVectorizer(ngram_range=(1,2))
x_train_dtm = vect.fit_transform(x_train)
x_train_dtm.shape

(3064, 169595)

In [36]:
print(vect.get_feature_names()[-50:]) #the last 50 words

['zoners', 'zoners out', 'zones', 'zones dolls', 'zones so', 'zoning', 'zoning issues', 'zoo', 'zoo but', 'zoo if', 'zoo is', 'zoo not', 'zoo the', 'zoo tour', 'zoyo', 'zoyo for', 'zucca', 'zucca appetizer', 'zucchini', 'zucchini and', 'zucchini bread', 'zucchini broccoli', 'zucchini carrots', 'zucchini fires', 'zucchini fries', 'zucchini pieces', 'zucchini strips', 'zucchini veal', 'zucchini very', 'zucchini we', 'zucchini with', 'zumba', 'zumba class', 'zumba or', 'zumba yogalates', 'zupas', 'zupas cater', 'zuzu', 'zuzu in', 'zuzu is', 'zuzu the', 'zuzu was', 'zuzus', 'zuzus room', 'zwiebelkräuter', 'zwiebelkräuter salat', 'éclairs', 'éclairs napoleons', 'ém', 'ém all']

### Predict the star rating

In [37]:
vect = CountVectorizer()

x_train_dtm = vect.fit_transform(x_train)
x_test_dtm = vect.transform(x_test)

#naive bayes
nb = MultinomialNB()
nb.fit(x_train_dtm, y_train)
y_pred_class = nb.predict(x_test_dtm)

print(metrics.accuracy_score(y_test, y_pred_class))

0.9129158512720157